  /* CSS design originally by @jofpin, tweaked by Ejiro Asiuwhu */
  @import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

  body {
      background: #ecf0f1;
      padding: 2.23em;
      font-family: 'Courier Prime', monospace;
  }

  .title {
      text-align: center;
  }

  .user-profile {
      margin: auto;
      width: 27em;
      height: auto;
      background: #fff;
      border-radius: .3em;
  }

  .user-profile #fullname {
      margin: -4.40em 0 0 5.80em;
      color: #ec9b3b;
      font-size: 1.53em;
      font-weight: bold;
  }

  #username {
      margin: auto;
      margin-left: 10.43em;
      font-size: .87em;
  }

  .user-profile>.description {
      margin: 1.35em 3em auto auto;
      width: 18em;
      color: #ec9b3b;
      font-size: .87em;
  }

  .user-profile>img#avatar {
      padding: .7em;
      margin: .3em 0 0 .3em;
      width: 6.23em;
      border-radius: 18em;
  }

  .footer {
      margin: 2em auto;
      height: 3.70em;
      background: #ec9b3b;
      border-radius: 0 0 .3em .3em;
      display: flex;
      justify-content: center;
      transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  button {
      color: white;
      font-size: 20px;
      background: none;
      outline: none;
      border: 0;
      cursor: pointer;
      user-select: none;
  }

  .footer:hover {
      background: #000;
      color: #fff;
  }

  .description div {
      padding: .4rem;
  }

   #notification {
       visibility: hidden;
       min-width: 250px;
       margin-left: -125px;
       background-color: #333;
       color: #fff;
       text-align: center;
       border-radius: 2px;
       padding: 16px;
       position: fixed;
       z-index: 1;
       left: 50%;
       bottom: 30px;
   }

   #notification.show {
       visibility: visible;
       -webkit-animation: fadein 0.5s;
       animation: fadein 0.5s;
   }

  @media screen and (max-width: 500px) {
      body {
          padding: 0;
      }
  }